@font-face {
font-family: "myFont";
src: url("SF-Pro-Rounded-Medium.otf");
}
body
{
    background-color: #F0EEE6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.parcours
{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    font-size: 70px;
    font-family: "myFont", sans-serif;
    color: #3592B1;
}

.stage
{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    font-size: 70px;
    font-family: "myFont", sans-serif;
    color: #CD6D4E;
}

.projets
{
    display: grid;
    justify-content: center;
    margin-top: 30px;
    font-size: 70px;
    font-family: "myFont", sans-serif;
    color: #8F877B;
}

article h2
{
    display: grid;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    font-family: "myFont", sans-serif;
    color: #000000;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}


nav ul {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    padding: 10px;
    font-size: 29px;
    list-style-type: none;
    margin-left: 800px;
    margin-right: 200px;
    
}


.lien_nav {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}
nav .lien_nav:hover::after{
    transform: scale(1);
}

nav .lien_nav::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
    bottom: 0;
}


nav li {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    background: #E3DACC;
    border-radius: 8px;
    list-style-type: none;
    margin: 0;
    top: 100%; 
    left: 50%;
    transform: translateX(-35%);

}

.dropdown-content li a {
    display: flex;
    font-size: 20px; 
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 8px;
}

.dropdown-content li a:hover
{
    background: #CEC6B9;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.partie
{
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}



.text
{
    text-align: justify;
    font-size: 18px;
}
.text a 
{
    color: inherit;
}
.image
{
    margin-right: 100px;
    margin-left: 100px;
}

.image_texte {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mini {
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    height: auto;
}
