@font-face {
font-family: "myFont";
src: url("SF-Pro-Rounded-Medium.otf");
}
body
{
    background-color: #F0EEE6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}

html {
scroll-behavior: smooth;
}

.home aside
{
    font-weight: 600;
    font-size: 37px;
    line-height: 12px;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 30px;
}
.groupe_svg article
{
    margin-right: 100px;
    margin-top: 60px;
}
.home
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    padding: 10px;
    font-size: 29px;
    list-style-type: none;
    margin-left: 900px;
    margin-right: 250px;
    
}


.lien_nav {
    text-decoration: none;
    color: inherit;
    display: block;
    padding-bottom: 3px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}
nav .lien_nav:hover::after{
    transform: scale(1);
}

nav .lien_nav::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #000;
    transition: transform 0.2s ease-in-out;
    transform: scale(0);
    bottom: 0;
}


nav li {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: max-content;
    background: #E3DACC;
    border-radius: 8px;
    list-style-type: none;
    margin: 0;
    top: 100%; 
    left: 50%;
    transform: translateX(-35%);

}

.dropdown-content li a {
    display: flex;
    font-size: 20px; 
    text-decoration: none;
    color: inherit;
    padding: 5px;
    border-radius: 8px;
}

.dropdown-content li a:hover
{
    background: #CEC6B9;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.fleche 
{
    display: grid;
    justify-content: center;
    margin-top: 90px;
}

.fleche img:hover 
{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}



.sections
{
    display: grid;
    justify-content: center;
    margin-top: 120px;
    font-size: 35px;
    font-family: "myFont", sans-serif;
}
.cases 
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 20px;
}
.cases aside{
    flex: 0 0 33%;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    background-color:#E3DACC ;
}


.cases article{
    flex: 0 0 33%;
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    justify-content: center;
}

.titre_case
{
    font-size: 35px;
    font-weight: 500;
}


.case1
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 30px;
    display: inline-block;
    background-color: rgba(217, 119, 87, 0.75);
    margin-bottom: 20px;
    font-size: 20px;
}

.case2
{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 20px;
    border-radius: 30px;
    display: inline-block;
    background-color: rgba(87, 185, 217, 0.75);
    margin-top: 20px;
    font-size: 20px;
}

.mini_case
{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #CEC6B9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

}

.mini_case1
{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #CEC6B9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

}
.mini_case1:hover
{
    background-color: #B585B8;
}

.mini_case2
{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #CEC6B9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

}

.mini_case2:hover
{
    background-color: #8BBD8F;
}

.mini_case3
{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #CEC6B9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

}

.mini_case3:hover
{
    background-color: #B68E87;
}

.mini_case4
{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #CEC6B9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

}


.mini_case4:hover
{
    background-color: #868AB8;
}

.mini_case5
{
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background-color: #CEC6B9;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
    align-self: stretch;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;

}

.mini_case5:hover
{
    background-color: #84B8B7;
}



.case_fleche {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    background-color: #141413;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 25px;
    align-self: stretch;
    justify-content: center;
}

.case_fleche .fleche3 {
    transition: transform 0.3s ease;
}
.case_fleche:hover .fleche3 {
    transform: scale(1.25);
}

.lien_case
{
    text-decoration: none;
    color: inherit;
}